<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @multado.valor %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @multado.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @multado.estado %>
</p>

<p>
  <strong>Prestamo:</strong>
  <%= @multado.Prestamo_id %>
</p>

<%= link_to 'Edit', edit_multado_path(@multado) %> |
<%= link_to 'Back', multados_path %>
