<p id="notice"><%= notice %></p>

<h1>Libros</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Autor</th>
      <th scope="col">Anyo</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.titulo %></td>
        <td><%= libro.autor %></td>
        <td><%= libro.anyo %></td>
        <td><%= link_to 'Show', libro,:class => "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_libro_path(libro),:class => "btn btn-success" %></td>
        <td><%= link_to 'Destroy', libro, method: :delete,:class => "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libro', new_libro_path,:class => "btn btn-dark" %>
